gitignore: node_modules\n# REMOVED NODE_MODULES AS WE JUST GOT A NEW VERSION OF COOKIES! \n # THIS IS THE MOST EXPENSIVE LINE IN HISTORY.\n # 20 MILLION LINES OR BUST WILL BE OUR ONLY SOLUTION!\n 

package-lock.json